h1 {
  margin: 0;
}

.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  width: 100%;
}

textarea {
  width: 300px;
  height: 100px;
}

.display-linebreak {
  white-space: pre-line;
}

.error {
  color: red;
}

.correct {
  color: green;
}
