h1 {
  margin: 0;
}

#root,
html,
body,
.App {
  height: 100%;
}

.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  width: 100%;
  margin: auto;
}

textarea {
  width: 300px;
  height: 100px;
}

.error {
  color: red;
}

.correct {
  color: green;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 2rem;
}

.result-container p {
  text-align: left;
  margin: 0;
}

.result-title {
  display: inline-block;
  width: 150px;
  /* background-color: green; */
}

.result-container p.main-result {
  margin: 40px 0;
}
